@{
    ViewData["Title"] = "Evf DevOps Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Azure Devops!</h1>
    <p>Learn about <a href="https://learn.microsoft.com/en-us/azure/devops/user-guide/what-is-azure-devops?view=azure-devops">Azure Devops!</a>.</p>
</div>
